{% extends 'base.html' %}
{% load i18n %}

{% block page_title %}
{% if current_user.first_name %}
{{current_user.first_name}}'s Profile
{% else %}
{{current_user.username}}'s Profile
{% endif %}
{% endblock page_title %}


{% block content %}
<div class="min-h-75vh">
    <div class="container mx-auto pb-10 flex-col flex items-center">
        <h3 class="mb-12 text-2xl">Your Favorite</h3>
        <div class="flex flex-wrap -mx-40">
            {% if user.list %}
                {% for room in user.list.rooms.all %}
                    {% include 'mixins/room_card.html' with room=room %}
                {% endfor %}
            {% endif %}
                
        </div>
    </div>
</div>
{% endblock content %}