{% load static i18n %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    {% if not gebug %}
        <script src="https://kit.fontawesome.com/7449a3270f.js" crossorigin="anonymous"></script>
    {% endif %}        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css">

    <title>{% block page_title %}{% endblock page_title %} | Bbnb</title>
</head>

<body class="text-gray-800 mt-24  font-light">
    {% include 'partials/messages.html' %}
    <header class="container  max-w-full inset-0 flex items-center justify-between px-6 h-20 border-b border-gray-400 fixed bg-white">
        <div class="flex items-center w-1/3">
            <a href="{% url 'core:home' %}" class="mr-6">
                <img class="w-7" src="{% static 'img/logo.png' %}" alt="">
            </a>
            
            {% block search-bar %}
            <form method="GET" action="{% url 'rooms:search' %}">
                <input name="city" placeholder="{% trans 'Search by City' %}" class="search-box border px-5 font-medium placeholder-gray-600 focus:outline-none py-2 rounded w-full shadow-md hover:shadow-lg">
            </form>
            {% endblock search-bar %}
        </div>
        {% include 'partials/nav.html' %}    
    </header>

    {% block content %}{% endblock %}
    {% include 'partials/footer.html' %}
    <script>
        const langSelect = document.getElementById("js-lang")
        handleLangChange = (e) => {
            const selected = langSelect.value;
            fetch(`{% url 'users:switch-language' %}?lang=${selected}`).then(
                () => window.location.reload()
            );
        }
        langSelect.addEventListener("change", handleLangChange)
    </script>
</body>

</html>